* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*  tab CSS colors hovers etc..  */


.accordion {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-align: left;
    
}

.tab {
    flex: 0.3;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: crosshair;
    overflow: hidden;
}

.tab.active {
    flex: 6;
}

.tab:not(.active):hover {
    opacity: 0.4;
}

.tab:nth-child(1) {
    background-color: #6C3082;
}

.tab:nth-child(2) {
    background-color: darkblue;
}

.tab:nth-child(3) {
    background-color: #800020;
}

.tab:nth-child(4) {
    background-color: #FC7E11;
}

.tab:nth-child(5) {
    background-color: green;
}

.tab:nth-child(6) {
    background-color: #242124;
}

.tab-content {
    display: none;
    position: absolute;
    top: 0;                          /* Align the content to the top */
    left: 0;                         /* Align the content to the left */
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;      /* Align content to the top */
    align-items: center;
    overflow-y: auto;                /* Enable vertical scrolling */
}

.tab.active .tab-content {
    display: flex;
}

.tab-title {
    font-family: 'Impact', sans-serif;
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tab label {
    pointer-events: none;
    font-size: 1.2em;
    writing-mode: vertical-rl;
    text-align: center;
    font-family: 'Impact', sans-serif;
}

p {
    font-size: 1em;
    text-align: left;
}

/* Thumbnails and iframes */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    max-width: 800px;
}

.thumbnail {
    cursor: pointer;
    margin: 10px;
    width: 150px;
    text-align: center;

}

.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px;  
    object-fit: cover;


}
.thumbnail img:hover {

    box-shadow: 0 0 2px 1px rgba(238, 140, 220, 0.311);

}

.thumbnail:hover {
    opacity: 0.8;
    cursor: pointer;
}

iframe {
    width: 600px;
    height: 600px;
    border: none;
    display: none;
    margin-top: 20px;
}

/*  footer content  */

footer {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    font-size:1em;
}

footer p {
    margin: 0;             
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Social icons + hover effect */
.social-icons {
    font-size:1.3em;
}

.social-icons a {
    margin: 0 10px;
    
    color: black;
    transition: color 0.3s;
}

.social-icons a:hover.instagram {
    color: #e4405f;
}

.social-icons a:hover.twitter {
    color: #1da1f2;
}

.social-icons a:hover.linkedin {
    color: #0077b5;
}

.social-icons a:hover.github {
    color: #333;
}

.section-description {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
    max-width: 700px;
}

/* phone css */ 
@media only screen and (max-width: 600px) {
   
    .tab-content {
        max-height: 80vh;       
        overflow-y: auto;       
        padding: 10px;
        justify-content: flex-start;
    }


    .accordion label {
        font-size: 13px;  
    }

    .accordion h2 {
        margin-top: 20px; 
        font-size: 16px;   
    }

    iframe {
        height: 300px;      
        overflow-y: scroll; 
    }

    .thumbnail img {
        width: 80%;  
        height: auto;
    }

    .accordion input[type="radio"] + label {
        width: 50px; 
    }

    .accordion p {
        font-size: 12px; 
    }


    .accordion h3 {
        font-size: 14px; 
    }

    footer {
        font-size: 12px;
    }
    
    html, body {
        overflow-x: hidden;     
        margin: 0;
        padding: 0;
    }

}
